.stats-container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgba(128, 128, 128, 0.5); 
  padding: 20px;
}





.stat-icon {
  font-size: 40px;
}

.stat-number {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.stat-label {
  font-size: 16px;
  color: white;
}
