/* General Container Styling */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #f9f6ef; /* Light Beige Background */
   
    font-family: 'Times New Roman', serif;
  }
  
  .menu-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white  ;
    margin-bottom: 10px;
    
  }
  
  .menu-description {
    font-size: 1.2rem;
    color: #fff;
    width: 60%;
    margin-bottom: 30px;
    
  }
  
  /* Buttons Container */
  .menu-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  /* Button Styling */
  .custom-btn {
    width: 40%;
    height: 200px;
    background: white;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid #d4af37;
    border-radius: 30px;
    box-shadow: 6px 6px 0px #d4af37;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .custom-btn .arrow {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  /* Hover Effect */
  .custom-btn:hover {
    background-color: #d4af37;
    color: white;
    box-shadow: 0px 0px 0px transparent;
    transform: translateY(4px);
  }
  @media (max-width: 768px) {
    .menu-button {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center;
    }
    .media-container{
      width: 100%;
    }

    .custom-btn {
        width: 80%; /* Adjust width for better fit */
        height: 150px; /* Reduce height for better spacing */
    }
}
  